* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambook.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothamlight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothammed.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "PokemonHollow";
    src: url("fonts/Pokemon-Hollow.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "PokemonSolid";
    src: url("fonts/Pokemon-Solid.ttf");
    font-weight: normal;
}

body {
  font-family: "Gotham";
  font-weight: 300;
}

.bgwrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: absolute;
  background-image: url("https://orig01.deviantart.net/ada4/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png")
}

.gymnamesec {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gymtitle {
  font-family: "PokemonSolid";
  color: pink;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.gymnamesec {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid green;
}

.trainersec {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column div {
/*  border: 1px solid purple;*/
}
.exploison{
  height:185px;
  width: 185px;
}

.leftcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainername {
  height: 65px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid orange;
}

.trainerpoke {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  cursor: pointer;
}

.pokesprite {
  height: 250px;
  width: 250px;
  border: 1px solid purple;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokename {
  font-weight: normal;
}

.pokemoninfosec {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
/*  border: 1px solid pink;*/
}

.pokemoninfosec div {
 /* border: 1px solid red;*/
}
